@font-face {
   font-family: 'Reggae';
   src: url('~@/assets/fonts/ReggaeOne-Regular.ttf');
}

@font-face {
   font-family: 'Yeseva';
   src: url('~@/assets/fonts/YesevaOne-Regular.ttf');
}

* {
   font-family: Georgia, serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
   font-family: 'Reggae', serif;
   letter-spacing: -8px;
   word-spacing: 10px;
}
