.form-control-small {
   padding: 1px;
   font-size: 80%;
}

.form-control {
   text-align: center;
   text-align-last: center;
}

.empty .form-control {
   background-color: #bbb;
}

.three-level-check {
   .form-control {
      border: solid 1px #000;
   }

   > *:not(:last-child) {
      .form-control {
         border-right: none;
      }
   }

   > *:first-child {
      height: 45px;
   }

   .form-control:not(:first-child) {
      border-top: none;
   }
}

.ability-box {
   max-width: 120px;
}
