.form-control-small {
   padding: 1px;
   font-size: 80%;
}

.form-control {
   text-align: center;
   text-align-last: center;
}

.empty .form-control {
   background-color: #aaa;
}

.three-level-check {
   .form-control {
      border: solid 1px #000;
   }

   *:first-child {
      .form-control {
         border-right: none;
      }
   }

   .form-control:not(:first-child) {
      border-top: none;
   }
}
