:root {
   --bs-body-rgb: 221, 221, 221;
}

.container {
   max-width: 1140px;
}

.fas,
.far,
.fab {
   line-height: inherit;
}

.h1 {
   text-shadow: 0 0 8px #fff;
   margin-bottom: 50px;
}

.modal-sm {
   max-width: 300px;
   margin: auto;
}

.fill-primary {
   fill: $primary;
}

body {
   background: url('~@/assets/images/logo.svg');
   background-position: center;
   background-repeat: no-repeat;
   overflow: overlay;
}

#menu {
   &.show {
      height: 69px;
   }
   &.fall {
      height: 0;
   }
   overflow: hidden;
   transition: all 0.5s;
}

::-webkit-scrollbar {
   width: 8px;
}

::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 10%;
}
