:root {
   --bs-body-rgb: 221, 221, 221;
}

.container {
   max-width: 1140px;
}

.fas,
.far,
.fab {
   line-height: inherit;
}

.h1 {
   text-shadow: 0 0 8px #fff;
   margin-bottom: 50px;
}

.modal-sm {
   max-width: 300px;
   margin: auto;
}

.fill-primary {
   fill: $primary;
}

body {
   background: url('~@/assets/images/logo.svg');
   background-position: center;
   background-repeat: no-repeat;
}
