:root {
   --bs-body-rgb: 221, 221, 221;
}

.container {
   max-width: 1140px;
}

.fas,
.far,
.fab {
   line-height: inherit;
}

.h1 {
   text-shadow: 0 0 8px #fff;
   margin-bottom: 50px;
}

a {
   text-decoration: none;
}

.modal-sm {
   max-width: 300px;
   margin: auto;
}

.fill-primary {
   fill: $primary;
}

body {
   background: url('~@/assets/images/logo.svg') no-repeat center center fixed;
   overflow: overlay;
}

.back-logo {
   opacity: 1 !important;
}

#menu {
   .container {
      opacity: 1;
      transition: all 2s ease-in;
   }
   &.show {
      height: 69px;
   }
   &.fall {
      height: 0;
   }
   &.first-load {
      height: 90vh;

      .container {
         opacity: 0;
      }
   }
   overflow: hidden;
   transition: all 0.5s;
}

::-webkit-scrollbar {
   width: 8px;
}

::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 10%;
}
