.w-50px {
   min-width: 55px;
}

.w-35px {
   min-width: 35px;
}

.w-25px {
   min-width: 25px;
}

.w-100px {
   width: 110px;
}

.left-border-text {
   writing-mode: vertical-rl;
   white-space: nowrap;
}

.lh-1 {
   line-height: 1;
}

.mb-50px {
   padding-bottom: 40px;
}

.op-1 {
   opacity: 0.1;
}

.z-index-10k {
   z-index: 100;
}

.z-index-back {
   z-index: -1;
}

.w-250px {
   width: 240px;
}

.shadow-xl {
   box-shadow: 0 0 8px 4px #000;
}

.rounded-right {
   border-top-right-radius: 100% 150%;
   border-bottom-right-radius: 100% 150%;
}

.rounded-left {
   border-top-left-radius: 100% 150%;
   border-bottom-left-radius: 100% 150%;
}
