.w-50px {
   min-width: 55px;
}

.w-35px {
   min-width: 35px;
}

.left-border-text {
   writing-mode: vertical-rl;
}

.lh-1 {
   line-height: 1;
}

.mb-50px {
   padding-bottom: 40px;
}

.w-100px {
   width: 110px;
}
