h4 {
   font-weight: bold;
   margin-bottom: 10px;
}

ol,
ul {
   li {
      margin: 10px 16px 0;

      &::marker {
         font-weight: bold;
      }
      &:first-child {
         margin-top: 0;
      }
   }

   padding: 0;
   margin-bottom: 10px;
}

p {
   margin-bottom: 10px;
}

.bloody {
   background: -webkit-linear-gradient(#000, #000, #c00);
   background-clip: text;
   -webkit-text-fill-color: transparent;
}
