.wave {
   --speed: 20s;
   img {
      max-height: 100px;
      bottom: 0;
      width: 102%;
      margin-bottom: -1px;
   }
   .left {
      position: relative;
      animation: scroll-left var(--speed) infinite linear;
   }

   .right {
      position: absolute;
      animation: scroll-right var(--speed) infinite linear;
   }
}

@media (min-width: 600px) {
   .wave {
      --speed: 60s;
   }
}

@keyframes scroll-left {
   0% {
      transform: translate(0, 0);
   }
   100% {
      transform: translate(-99%, 0);
   }
}

@keyframes scroll-right {
   0% {
      transform: translate(99%, 0);
   }
   100% {
      transform: translate(0%, 0);
   }
}
